<div class="flex items-center">
  <span class="relative inline-flex rounded-full p-[2px] bg-gradient-to-tr from-black/50 via-white/50 to-black/70 dark:from-white/50 dark:via-black/50 dark:to-white/80">
    <div
      class="inline-flex items-center justify-center w-full px-3 py-1 text-sm text-black dark:text-white bg-white/10 rounded-full dark:bg-black/10 backdrop-blur-md whitespace-nowrap"
    >
      <slot />
    </div>
  </span>
</div>
