---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "April 2024 – May 2025",
    title: "Software Engineer at MavDigital (via Hermosa Software)",
    description:
      "Enhanced and maintained the Portal-Mav web application, automating invoice issuance for hundreds of companies through integration with the national tax system. Led DevOps practices including CI/CD, automated testing, and Dockerized environments on AWS.",
    link: "",  
  },
  {
    date: "August 2023 – March 2024",
    title: "Frontend Engineer at Hermosa Software (II Internal Project)",
    description:
      "Led the development of a scalable event logistics and ticketing platform. Implemented support for multiple users, device drivers, and QR code scanning for secure validation. Oversaw the complete development lifecycle.",
    link: "", 
  },
  {
    date: "February 2023 – July 2023",
    title: "Frontend Engineer at Hermosa Software (I Internal Project)",
    description:
      "Built and maintained features for a SaaS application in the construction supply sector. Worked on dynamic and multistep forms, dashboards, and integrated third-party APIs and payment gateways.",
    link: "", 
  },
];
---

<ol class="relative border-s ml-3 border-black dark:border-white/50">  
  {
    EXPERIENCE.map(experience => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }                
</ol>

