<header class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto">
  <img 
    src="/src/assets/avatar.jpg" 
    alt="photo" 
    class="rounded-full size-12"
  />
  <nav class="flex flex-row gap-x-10 opacity-90">
    <a href="#top">Home</a>
    <a href="#experience">Experience</a>
    <a href="#projects">Projects</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
  </nav>
</header>