---
const personalImageAlt = "Christopher Webb"
import Badge from "./Badge.astro"
import LinkedInIcon from "../icons/LinkedIn.astro"
import MailIcon from "../icons/Mail.astro"
import Social from "./Social.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-20 object-cover"
      src="/public/profileImage.jpg"
      alt={personalImageAlt}
      loading="lazy"
      decoding="async"
    />
    <a
      href="https://linkedin.com/in/w3bbbb"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Open to work</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, I'm Christopher Webb
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-orange-200 [&>strong]:text-orange-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    +2 years of experience. <strong
      >Full-stack Software Engineer.</strong
    > Based in Costa Rica. Expert in React, TypeScript, and DevOps. 
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <Social href="mailto:chrissww9@gmail.com">
      <MailIcon class="size-4" />
      chrissww9@gmail.com
    </Social>
    <Social href="https://linkedin.com/in/w3bbbb">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </Social>
  </nav>
</div>
