---
const { href } = Astro.props;
---

<a
  target="_blank"
  href={href}
  role="link"
  class="inline-flex bg-black/10 text-black/80 
  items-center justify-center gap-2 px-3 py-2 space-x-2 text-base 
  transition dark:text-white/90 dark:bg-white/30 text-md hover:bg-black/50  
  group max-w-fit rounded-xl hover:text-white focus:outline-none dark:hover:bg-white/10
  focus-visible:outline-none focus-visible:ring focus-visible:ring-offset-2 active:bg-black"
>
  <slot />
</a>
