---
import "../styles/global.css";
import "@fontsource-variable/onest";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Christopher Webb | Software Engineer</title>
  </head>

  <body class="relative text-black dark:text-white">
    <div class="absolute inset-0 -z-10 overflow-hidden">
      <!-- Light/dark gradient blobs -->
      <div
        class="absolute w-[40rem] h-[40rem] top-[-10rem] left-[-10rem] rounded-full
    bg-orange-400/30 dark:bg-orange-500/20 blur-3xl animate-pulse-slow"
      >
      </div>

      <div
        class="absolute w-[30rem] h-[30rem] bottom-[-5rem] right-[-5rem] rounded-full
    bg-[#ceabff]/40 dark:bg-[#720dff]/10 blur-3xl animate-pulse-slow"
      >
      </div>

      <!-- Subtle radial center glow -->
      <div
        class="absolute inset-0 bg-gradient-radial from-white/40 via-transparent to-transparent dark:from-[#1e1b4b]/20"
      >
      </div>
    </div>

    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  :root {
    color-scheme: light dark;
  }
  html {
    font-family: "Onest Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overscroll-behavior: none;
  }
  @media (prefers-reduced-motion) {
    html {
      scroll-behavior: auto;
    }
  }
  @media (prefers-color-scheme: dark) {
    body {
      color: rgba(255, 255, 255, 0.9);
    }
  }

  #header-nav {
    animation: blur linear both 0.5s;
    animation-timeline: scroll();
    animation-range: 0 500px;
  }

  @keyframes blur {
    to {
      backdrop-filter: blur(20px);
      border-width: 1px;
      border-color: rgba(0, 0, 0);
      padding: 0.25rem 0.75rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: rgb(229, 229, 229);
      border-radius: 9999px;
    }
  }

  @media (prefers-color-scheme: dark) {
    @keyframes blur {
      from {
        border: 0px;
      }
      to {
        box-shadow:
          0px 5px 50px -5px rgba(0, 0, 0, 0.1),
          0px 0px 0 1px rgba(0, 0, 0, 0.3);
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(20px);
        border-width: 1px;
        border-color: rgba(0, 0, 0);
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 9999px;
      }
    }
  }
</style>
